$medium-beige: rgb(255, 190, 141);
$light-beige: rgb(255, 217, 187);
$medium-gray: rgb(135, 135, 135);
$dark-gray: #1d1d1d;
$dark-gray-transparent: rgba(29, 29, 29, 0.7);
$red-brown: rgb(40, 21, 0);
$beige-transparent:rgba(255, 190, 141, 0.7);