@import "./colors.scss";

.crm-top-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: $dark-gray-transparent-9;
  color: $medium-beige;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 30px;
  padding:0.5rem;
  height: auto;
  width: fit-content;
  max-width: 98vw;
  margin: 2rem auto
}

.crm-top-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.crm-main-container,
.crm-customers-main-container,
.crm-projects-main-container,
.crm-analytics-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $medium-beige;
  width: min-content;
  margin: 1rem auto;
  font-weight: bold;
  width: fit-content;
  height: auto;
  max-width: 98vw;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: $dark-gray-transparent-9
}
// CUSTOMER PAGE

.new-customer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: $dark-gray-transparent-9;
  color: $medium-beige;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 30px;
  padding: 1.5rem;
  height: fit-content;
  max-width: 98vw;
  margin: 1rem auto;
}

#firstName,
#lastName,
#email,
#cellPhone {
  min-width: 275px;
}

.customer-table {
  max-height: 600px;
  max-width: 98%;
  overflow-y: scroll;
  border-radius: 0.5rem;

}

table, th, td {
  border: 2px solid $medium-beige;
  color: $dark-gray-transparent-9;
}
th {
  font-size: 1.25rem;
}
#clickable-cell {
  cursor: pointer
}


#add-customer,
#delete-customer {
  border-radius: 0.5rem;
  border: 1px solid $medium-beige;
  height: 30px;
  width: 30px;
  cursor: pointer;
  color: $medium-beige;
  background-color: $dark-gray;
  font-weight: bolder;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 30px;
}
#add-customer {
  color: green
}
#delete-customer {
  color: red
}
#add-customer:link,
#delete-customer:link {
  color: $red-brown;
}
#add-customer:visited,
#delete-customer:visited {
  color: $red-brown;
}
#add-customer:hover,
#delete-customer:hover {
  color: $red-brown;
  background-color: $beige-transparent;
}