@import "./colors.scss";

.dev-info-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8rem
}

.dev-image {
  max-width: 300px;
  min-width: 150px;
  border-radius: 50%;
  border: 0.5rem solid $red-brown

}

.dev-details {
  display: flex;
  flex-direction: column;
}