.projects-form-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: $dark-gray-transparent-9;
  color: $medium-beige;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 30px;
  padding: 1.5rem;
  height: fit-content;
  width: fit-content;
  margin: 1rem auto
}

.sign-in-form-container,
.registration-form-container,
.project-settings-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: $dark-gray-transparent-9;
  color: $medium-beige;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 30px;
  padding: 1.5rem;
  height: fit-content;
  width: fit-content;
  margin: 1rem auto
}

.new-project-form,
.new-hardwood-form,
.user-settings-form,
.user-settings-heading,
.sign-in-form,
.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $medium-beige;
}

.start-new-project-heading {
  font-weight: bold;
}

.title,
.name,
.description,
.customer,
.quantity,
.price,
.admin-button,
.markup,
.laborRate,
.woodWaste,
.hours,
.message,
.subject,
.auth-email,
.auth-password {
  color: $medium-beige;
  font-size: 1.1rem;
}

#title,
#name,
#description,
#customer,
#quantity,
#price,
#new-hardwood-form-submit,
#edit-hardwood-form-submit,
#markup,
#laborRate,
#woodWaste,
#hours,
#message,
#subject,
#auth-email,
#auth-password,
#auth-button,
#all-buttons {
  border-radius: 0.5rem;
  border: 2px solid $medium-beige;
  background-color: $dark-gray;
  color: $medium-beige;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 30px;
  font-size: 1.1rem;
}

#new-hardwood-form-submit,
#auth-button,
#all-buttons,
#highlighted-button {
  height: 50px;
  width: 200px;
  cursor: pointer;
  color: $medium-beige;
  background-color: $dark-gray;
  font-weight: bolder;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 30px;
  margin: 1.5rem
}


#new-hardwood-form-submit:link,
#auth-button:link,
#all-buttons:link {
  color: $red-brown;
}
#new-hardwood-form-submit:visited,
#auth-button:visited,
#all-buttons:visited {
  color: $red-brown;
}
#new-hardwood-form-submit:hover,
#auth-button:hover,
#all-buttons:hover {
  color: $red-brown;
  background-color: $beige-transparent;
}

#highlighted-button {
  background-color: $medium-beige;
  color: black;
  border-radius: 0.5rem;
}

#subject {
  min-width: 330px
}

#message {
  min-width: 330px;
  min-height: 250px;
}

.errors {
  border: 3px solid red;
  border-radius: 0.5rem;
  background-color: rgba(255, 0, 0, 0.07);
  text-align: center;
}
.errors ul,
.errors p {
  display: inline-block;
  margin: 0;
  padding: 1rem;
}

#title {
  height: 35px;
}

.button {
  border-radius: 0.5rem;
}

.sign-out {
  max-width: 100px;
}

