@import "../stylesheets/colors.scss";

h4 {
  font-weight: bold;
}

.hardwoods-index {
  height: 650px;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 0.5rem
}

.hardwood-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 30px;
  background-color: $dark-gray-transparent-9;
  color: $medium-beige;
  padding: 1rem;
  width: 300px;
  height: 150px;
  gap: 0.5rem
}

.hardwood-tile-wood-name {
  width: 60%;
}

.hardwood-tile-wood-image {
  width: 40%
}
#hardwood-tile-wood-image {
  height:120px;
  width: 120px;
  border-radius: 0.5rem;
}

.hardwood-tile:link {
  color: $red-brown;
}
.hardwood-tile:visited {
  color: $red-brown;
}
.hardwood-tile:hover {
  cursor: pointer;
  color: white;
  background-color: $dark-gray-transparent;

}