@import "./colors.scss";

.home-page-container {
  display: flex;
  flex-direction: column;
  color: $medium-beige;
  width:max-content;
  max-width: 90%;
  margin: 1rem auto;
  font-weight: bold;
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
}

.unauthenticated-home-page {
  margin-top: 2rem;
  background-color: $dark-gray-transparent-9;
  box-shadow: rgba(67, 67, 67, 0.5) 0px 0px 50px;
}

.auth-page-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  max-height: 85%;
  overflow-y: scroll;
}

.page-heading {
  font-weight: bolder;
}

.home-link-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.home-page-link {
  background-color: $dark-gray;
  color: $medium-beige;
  padding: 0.5rem;
  width: 150px;
  border: 2px solid $medium-beige;
  border-radius: 0.5rem;
}

.home-page-link:link {
  color: $medium-beige;
}
.home-page-link:visited {
  color: $medium-beige;
}
.home-page-link:hover {
  color: $red-brown;
  background-color: $beige-transparent;
}

ul {
  list-style-position: inside;
}