@import "./colors.scss";


.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $medium-beige;
  padding: 0.25rem;
  border-radius: 0.2rem;
  min-width: fit-content;
  max-width: 550px;
  max-height: min-content;
  background-color: $medium-beige;
  border: 0.25rem solid $red-brown;
  box-shadow: rgba(67, 67, 67, 0.5) 0px 0px 50px;
}

.wood-popup {
  text-align: center;
}