@import "./colors.scss";

.woods-metrics-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem;
  margin-bottom: 2rem;
  min-width: 90%;
}

.show-metrics-container {
  padding: 2px;
  min-width: 10%;
}

.add-woods-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  min-width:70%;
  background-color: $dark-gray-transparent;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 30px;

}

#hardwood {
  min-width:max-content;
  width: 10rem;
  margin-bottom: 1rem;
}

#boardFeet {
  border-radius: 0.5rem;
  background-color: $dark-gray-transparent;
  color: white;
  margin:0 auto;
  margin-bottom: 1rem;
  width: 80px;
}

.show-added-wood {
  padding: 2px;
}

.add-wood-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-selected-button {
  background-color: none;
  border: 3px solid $red-brown;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: rgba(67, 67, 67, 0.5) 0px 0px 50px;
  width: 150px;
  height: 50px;
  margin-bottom: 1rem;
}

.add-selected-button:link {
  color: $red-brown;
}
.add-selected-button:visited {
  color: $red-brown;
}
.add-selected-button:hover {
  cursor: pointer;
  color: white;
  background-color: $dark-gray-transparent;
}

.save-button {
  background-color: none;
  border: 3px solid $red-brown;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: rgba(67, 67, 67, 0.5) 0px 0px 50px;
  width: 150px;
  height: 50px;
}

.save-button:link {
  color: $red-brown;
}
.save-button:visited {
  color: $red-brown;
}
.save-button:hover {
  cursor: pointer;
  color: white;
  background-color: $dark-gray-transparent;
}

#hardwood-list {
  background-color: $dark-gray-transparent;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}


.added-wood-tile-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 0.75rem;
  margin-bottom: 2rem;
  
}

.added-wood-tile {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  // background-color: $dark-gray-transparent;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 30px;
  padding: 1rem;
  width: 200px;
  height: 160px
}

#wood-name {
  font-weight: bolder;
  width: 90%
}

#wood-tile-p {
  font-weight: bold;
}