@import "./colors.scss";

//PROJECT LIST/FORM CONTAINER

.projects-list-container {
  display: flex;
  flex-flow: column-reverse;
  margin: 0 auto;
  padding: 0.2rem;
  justify-content: center;
  column-gap: 2rem;
  width: 98%
}

.projects-index-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

// PROJECT TILES

.project-tile-container {
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: $dark-gray-transparent-9;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 30px;
  color: $medium-beige;
  width: 420px;
  height: 200px
}

.project-name-underline {
  border-bottom: 2px solid $beige-transparent;
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 0.3rem;
  background-color: $red-brown;
}

.project-tile-container:link {
  color: $red-brown;
}
.project-tile-container:visited {
  color: $red-brown;
}
.project-tile-container:hover {
  cursor: pointer;
  color: white;
  background-color: $dark-gray-transparent;
}

.project-name {
  font-weight: bold;
}

.tile-info {
  margin: 0.2rem;
  padding: 0.1rem
}

// PROJECT SHOW PAGE

.project-show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem auto;
  padding: 1.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: $medium-beige;
  background-color: $beige-transparent;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 30px;
}

.project-show-headers {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  gap: 1rem;
  background-color: $dark-gray-transparent-9;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 30px;
  color: $medium-beige;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  width:fit-content;
}

.customer-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-description {
  font-weight: bolder;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 0.5rem;
  color: $dark-gray;
}

// IMAGE UPLOAD ELEMENTS

.image-uploader-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  padding: 2rem;
  min-width:90%;
  background-color: $dark-gray-transparent-9;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 30px;
  color: $medium-beige;
}

.dropzone-drop-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid $medium-beige;
  height: auto;
  min-width: 360px;
  margin: 1rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.drop-button-and-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropzone-button {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dropzone-form {
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  gap: 2rem;
  color: $medium-beige;
}

.label-input-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem
}

.dropzone-images-container {
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 2rem
}

.dropzone-image-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropzone-image {
  height: auto;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 30px;
  border-radius: 0.5rem;
}

.dropzone-image:hover {
  box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 30px;
  border: 2px solid $medium-beige;
  transform: scale(2);

}

// "BACK TO PROJECTS", "DELETE THIS PROJECT", "PROJECT SETTINGS"

.bottom-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto
}