@import "./colors.scss";

//PROJECT LIST AND NEW PROJECT FORM CONTAINER

.projects-list-container {
  display: flex;
  padding: 0.2rem;
  justify-content: center;
  column-gap: 2rem;
  flex-wrap: wrap;
}

.projects-index-container {
  max-height: 650px;
  overflow-y: scroll;
}

// PROJECT TILES

.project-tile-container {
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: $dark-gray;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 30px;
  color: $medium-beige;
}

.project-name-underline {
  border-bottom: 2px solid $beige-transparent;
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 0.3rem;
  background-color: $red-brown;
}

.project-tile-container:link {
  color: $red-brown;
}
.project-tile-container:visited {
  color: $red-brown;
}
.project-tile-container:hover {
  cursor: pointer;
  color: white;
  background-color: $dark-gray-transparent;
}

.project-name {
  font-weight: bold;
}

.tile-info {
  margin: 0.2rem;
  padding: 0.1rem
}

// PROJECT SHOW PAGE

.project-show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  color: $medium-beige;
  width: 90%;
  width: 90%;
  height: 82%;
  height: 82%;
  overflow-y: scroll;
}

.project-show-headers {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  gap: 1rem;
  background-color: $dark-gray;
  color: $medium-beige;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  width:fit-content;
}

.customer-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-description {
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: $dark-gray-transparent;
}

.back-button-container {
  align-self: flex-start;
  position: relative;
  margin: 5rem;
}

.back-button {
  background-color: none;
  border: 3px solid $red-brown;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: rgba(67, 67, 67, 0.5) 0px 0px 50px;
}

.back-button:link {
  color: $red-brown;
}
.back-button:visited {
  color: $red-brown;
}
.back-button:hover {
  color: white;
  background-color: $dark-gray-transparent;
}
