@import "./colors.scss";

.projects-list-container {
  display: flex;
  padding: 0.2rem;
  justify-content: center;
  column-gap: 2rem;
  flex-wrap: wrap;
}

.projects-index-container {
  max-height: 650px;
  overflow-y: scroll;
}

.project-tile-container,
.project-show {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: $beige-transparent;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 30px;
  color: $red-brown;
}

.project-tile-container:link {
  color: $red-brown;
}
.project-tile-container:visited {
  color: $red-brown;
}
.project-tile-container:hover {
  cursor: pointer;
  color: white;
  background-color: $dark-gray-transparent;
}

.project-name {
  font-weight: bold;
}

.project-name-underline {
  border-bottom: 2px solid black;
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 0.3rem;
}

.tile-info {
  margin: 0.2rem;
  padding: 0.1rem
}

.project-show {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 90%;
  max-width: 90%;
  min-height: 82%;
  max-height: 82%;
  overflow-y: scroll;
}

.project-show-headers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: $red-brown;
  color: $medium-beige;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  width:fit-content;
}

.customer-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-description {
  margin: 2rem 0;
}

.back-button-container {
  align-self: flex-start;
  position: relative;
  margin: 5rem;
}

.back-button {
  background-color: none;
  border: 3px solid $red-brown;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: rgba(67, 67, 67, 0.5) 0px 0px 50px;
}

a.back-button:link {
  color: $red-brown;
}
a.back-button:visited {
  color: $red-brown;
}
a.back-button:hover {
  color: white;
  background-color: $dark-gray-transparent;
}

.added-wood-tile-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 0.75rem;
  margin-bottom: 2rem 
}

.added-wood-tile {
  background-color: $dark-gray-transparent;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 30px;
  padding: 0.5rem;
  min-width:10%;
  min-height: 15%;
}