@import "./colors.scss";

.top-links {
  color:$medium-beige;
  font-weight: bold;
  background-color: $dark-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  border-bottom: 1px solid $medium-beige;
  top: 0;
  width: 100%
}

.top-links-right {
  display: flex;
  text-align: right;
  align-items: center;
  
}

ul {
  list-style-type: none;
}

.top-links-left {
  display: flex;
  align-items: center;
}

.link-item {
  padding: 0.5rem
} 

.link-item:link {
  color: $medium-beige;
}
.link-item:visited {
  color: $medium-beige;
}
.link-item:hover {
  cursor: pointer;
  color: white;
}

.logged-in-links {
  display: flex;
}

.logged-in {
  margin-left: 1rem;
}

.sponsor-tile {
  display: flex;
  align-items: center;
}

.sponsor-logo {
  border-radius: 50%;
  max-width: 5rem;
  margin-top: -0.4rem;
}

.home-link {
  align-self: left;
}
