@import "./colors.scss";

.top-links {
  color:$medium-beige;
  font-weight: bold;
  background-color: $red-brown;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.top-links-right {
  display: flex;
  text-align: right;
  align-items: center;
}

.top-links-left {
  display: flex;
  align-items: center;
}

.link-item {
  padding: 0.5rem
} 

.logged-in-links {
  display: flex;
}

.logged-in {
  margin-left: 1rem;
}

.sponsor-tile {
  display: flex;
  align-items: center;
}

.sponsor-logo {
  border-radius: 50%;
  max-width: 5rem;
  margin-top: -0.4rem;
}

.home-link {
  align-self: left;
}

.sign-out-button {
  color: $red-brown;
  background-color: $beige-transparent;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
