@import "./colors.scss";

.top-links {
  color:$font-color;
  font-weight: bold;
  background-color: $medium-gray;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.top-links-right {
  display: flex;
  text-align: right;
  align-items: center;

}

.top-links-left {
  display: flex;
  align-items: center;
}

.link-item {
  padding: 0.5rem
} 

.sponsor-tile {
  display: flex;
  align-items: center;
}

.sponsor-logo {
  border-radius: 50%;
  max-width: 5rem;
}

