@import './colors';
.twilio-submit-button {
  background-color: $medium-beige;
  padding: 0.5rem;
  border: 1px solid $dark-gray;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: $medium-gray;
    color: white;
    border: 1px solid white;
  }
}

.twilio-form {
  label {
    color: $medium-beige
  }
}