.user-settings-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: $dark-gray-transparent-9;
  color: $medium-beige;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 10px 30px;
  padding: 1.5rem;
  height: fit-content;
  gap: 2rem
}