@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import "../scss/stylesheets/colors.scss";
@import "../scss/stylesheets/topLinks.scss";
@import "../scss/stylesheets/weather.scss";
@import "../scss/stylesheets/projects.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: $dark-gray;
  font-family: 'Ubuntu', sans-serif;
}

a:link {
  color:$font-color;
}
a:visited {
  color: $font-color;
}
a:hover {
  color: black
}

.app-container {
  color: $font-color;
  border-radius: 0.5rem;
  max-width: 75%;
  min-width: 300px;
  margin: 0 auto;
  background-color: $app-background;
  height: 800px ;
}

.page-container {
  text-align: center;
  padding: 1rem;
}

.complete {
  text-decoration: line-through;
}

.registration-form,
.sign-in-form {
  max-width: 40%;
  margin: 4rem auto;
}

