@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import "./colors.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: $dark-gray;
  font-family: 'Ubuntu', sans-serif;
}

ul {
  list-style: inside;
}

a:link {
  color:white
}
a:visited {
  color: white;
}
a:hover {
  color: $medium-gray
}

.app-container {
  color: rgb(73, 30, 10);
  border-radius: 0.4rem;
  max-width: 75%;
  min-width: 300px;
  margin: 4rem auto;
  background-color: $medium-gray;
  min-height: 800px ;
}

.page-container {
  text-align: center;
  padding: 1rem;
}

.top-links {
  color:white;
  padding: 1rem
}

.top-links-list {
  display: grid;
  justify-content: right;
  grid-auto-flow: column;
  width: auto;
  list-style-type: none;
}

.link-item {
  padding: 0 1em;
}

.sponsor-tile {
  text-align: center;
  margin: 0 auto;
}

.sponsor-logo {
  border-radius: 6rem;
}

.complete {
  text-decoration: line-through;
}