@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import "../scss/stylesheets/colors.scss";
@import "../scss/stylesheets/homePages.scss";
@import "../scss/stylesheets/topLinks.scss";
@import "../scss/stylesheets/weather.scss";
@import "../scss/stylesheets/projects.scss";
@import "../scss/stylesheets/projectMetrics.scss";
@import "../scss//stylesheets/forms.scss";
@import "../scss/stylesheets/devInfoPage.scss";
@import "../scss/stylesheets/hardwoodIndexPage.scss";
@import "../scss/stylesheets/popups.scss";
@import "../scss/stylesheets/signInOutForms.scss";
@import "../scss/stylesheets/adminPortal.scss";
@import "../scss/stylesheets/userSettings.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: black;
  font-family: 'Ubuntu', sans-serif;
}

.app-container {
  color: $red-brown;
  border-radius: 0.6rem;
  max-width: 98%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 3rem;
  background-image: url('https://i.imgur.com/bwDuFOw.jpg');
  background-size: cover;
  min-height: 820px;
  box-shadow: rgba(67, 67, 67, 0.5) 0px 0px 30px;

} 

.footer-container {
  margin-top: 3rem;
}
