
.top-links {
  color:rgb(73, 30, 10);
  background-color: rgb(120, 120, 120);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.top-links-right {
  display: flex;
  text-align: right;
  align-items: center;

}

.top-links-left {
  display: flex;
  align-items: center;
}

.link-item {
  padding: 0.5rem
} 

.sponsor-tile {
  display: flex;
  align-items: center;
}

.sponsor-logo {
  border-radius: 50%;
  max-width: 5rem;
}

